[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dfm = {editable = true, path = "."}

[dev-packages]
black = "*"
pydocstyle = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-benchmark = "*"
sphinx-autobuild = "*"
twine = "*"
Jinja2 = "*"
Sphinx = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
